.aboutMe {
  width: 90%;
  margin: auto;
  padding: 3rem 0 3rem;
  display: flex;
  flex-direction: column;
  text-align: justify;
  border-bottom: 2px solid $colorSecundarioD;
  & h1 {
    border-bottom: 1px solid $colorSecundarioD;
    text-align: start;
  }
  & p {
    margin-top: 1.5rem;
    line-height: 1.5rem;
    color: $colorTextoD;
  }
  & a {
    width: 50%;
    height: 2rem;
    margin: auto;
    padding-top: 0.4rem;
    margin-top: 1.5rem;
    text-align: center;
    border-radius: 20px;
    background-color: $colorSecundarioD;
    color: $colorPrincipalW;
    text-decoration: none;
    @include sombra;
    &:hover {
      @include buttonHover;
    }
  }
}

@media only screen and (min-width: 560px) {
  .aboutMe {
    width: 90%;
    margin: auto;
    & p {
      font-size: 1.2rem;
      text-align: justify;
    }
    & a {
      width: 40%;
      height: 2rem;
      margin: auto;
      margin-top: 1.5rem;
      text-align: center;
      border-radius: 20px;
      background-color: $colorSecundarioD;
      color: $colorPrincipalW;
      text-decoration: none;
      font-size: 1.3rem;
    }
  }
}
@media only screen and (min-width: 1024px) {
  .aboutMe {
    width: 90%;
    margin: auto;
    & h1 {
      font-size: 3rem;
    }
    & h2 {
      font-size: 2.5rem;
    }
    & p {
      font-size: 1.5rem;
      text-align: justify;
      line-height: 1.8rem
    }
    & a {
      width: 40%;
      height: 3rem;
      padding-top: 0.6rem;
      margin: auto;
      margin-top: 1.5rem;
      text-align: center;
      border-radius: 20px;
      background-color: $colorSecundarioD;
      color: $colorPrincipalW;
      text-decoration: none;
      font-size: 1.5rem;
    }
  }
}